.page-container{
    display: flex;
    justify-content: center;
}

.page-container > .content-wrapper{
    width: 1000px;
}

.page-container > .content-wrapper > #dash{
    width: 350px;
    margin: 45px 35px 30px 0;
    float: left;
    border: 1px solid #f31111;
}

.page-container > .content-wrapper > p{
    letter-spacing: 1px;
    line-height: 30px;
}